.form {
    text-align: center;
    justify-content: center;
    width: 70%;
}

.input {
    width: 100%;
    padding: 1.5rem;
}

.button {
    padding: 1.5rem;
    margin: 1rem;
    width: 20%;
    border-radius: 8px;
}


@media (max-width: 800px) {
    .form {
        width: 100%;
    }
    .button {
        width: 40%;
        margin: .25rem 0;
        border-radius: 0;
    }
}
@media (max-width: 600px) {
    .form {
    width: 100%;
}
    .button {
    width: 100%;
    margin: .25rem 0;
    border-radius: 0;
}
}
