

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 1rem;
    background: #ff6600;
    color: #e3e3e3;
    font-size: 1.25rem;
    font-weight: 400;
    text-shadow: #b9b9b9;
}

.button {
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
.button:hover {
    background: #b9b9b9;
    color: white;
}

.metaData {
    display: block;
    color: #e2e0e0;
    font-size: 1rem;
    margin-top: 0.5rem;

    font-weight: 200;
}
